.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.board-row{
  display: flex;
  margin: 0;
  padding: 0;
}
.square{
  margin: 1px;
  width: 70px;
  height: 70px;
  font-size: 20px;
  border-radius: 2px;
  border-width: 0cm;
  color: rgb(36, 18, 18);
  background-color: rgb(222, 223, 222);
}